extends layout

block content
  h1= "My todos"
  p Welcome to #{title}
  
  script(src='/javascripts/client.js')

    form#todo-form
      input#input-name(type='text' name='name' placeholder='Name')
      input#input-task(type='text' name='todo' placeholder='Todo')
      button#submit-data(type='submit') Submit
      div#response
  